@import url("config.css");
@import url("footer.css");

/*#searchProp a, #searchRent a{
    width: 126px;
    height: 120px;
    max-width: 100%;
    margin-top: 10px;
    zoom:25%;
}
#searchProp a{
    background: url('../images/re_icon_sprite.png') 0 -992px;
}*/


.navbar-default{
  background-color: #fff;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a{
  color: #000;
}
.navbar-brand{
  height: 60px;
}
span.subtitle {
    display: block;
    font-size: 12px;
}
.navbar-toggle{
  border-radius: 0;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: #000;
}

.navbar-nav>li>a{
  padding-top: 20px;
}



/* MEDIA QUERIES */
@media (max-width: 900px){
  .upNav{
    text-align: center;
  }
  /* FORCE NAV COLLAPSE START */
  .container-fluid.respNav {
    padding-right: 2px;
    padding-left: 2px;
  }
  div#navbar {
    padding: 0!important;
  }
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display: block !important;
  }

  /* FORCE NAV COLLAPSE END */
}

@media(max-width: 768px){
  ul.nav.navbar-nav{
    margin-left: -10px;
  }
}